* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

body {
  width: 100vw;
  font-family: Roboto, Tahoma, sans-serif;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: 1fr repeat(4, 2fr);
}

/* Header */
.header {
  grid-column: 2/3;
  /* background-color: bisque; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
}
.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 30px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #0284c7;
  color: white;
  border: 1px solid white;
  font-weight: 700;
}

/* SideBar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  padding: 20px;
  grid-row: 1/6;
  background-color: whitesmoke;
}

.list1 {
  margin-top: 40px;
}
.list2 {
  margin-top: 40px;
}

ul li {
  padding: 10px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Main */
.main {
  padding: 20px;
  grid-row: 2/6;
  /* background-color: gray; */
  background-color: rgb(228, 228, 228);
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: repeat(3, 1fr);
}

.projects {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px repeat(3, 1fr);
  gap: 20px;
  /* background-color: darkcyan; */
  grid-column: 1/2;
  grid-row: 1/-1;
}

.projects .title {
  grid-column: 1/-1;
}
.projects .cardProjects {
  background-color: whitesmoke;
  border-left: 10px solid rgba(196, 196, 0, 0.671);
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.162);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 2fr 1fr;
  align-items: center;
}

.symbols {
  display: flex;
  justify-content: flex-end;
}

.right {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: grid;
  gap: 20px;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  grid-row: 1/1;
  display: grid;
  justify-items: center;
  padding: 20px;
  border-radius: 20px;
  grid-template-rows: 40px repeat(3, 1fr);
}

.card-announcement {
  width: 400px;
  background-color: white;
  padding: 20px 10px;
  border-radius:25px ;
  gap: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  /* box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.162); */
}

.trending {
  grid-row: 2/3;
  padding: 20px;
}

.trending-content{
  width: 400px;
  padding: 20px 10px;
  background-color: white;
  gap: 10px;
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 9px 2px rgba(0, 0, 0, 0.162);
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending  img{
  height: 50px;
}

.trending-main{
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.162);
  border-radius: 20px;
  overflow: hidden;
}

.title{
  text-align: center;
}
.logo {
  background-color: yellow;
  border-radius: 50%;
}
img {
  height: 40px;
}
